@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap");

$colorBackHeader: #4166b0;
$colorFontHeader: #fff;
$colorBody: #e8eaed;
$fontRoboto: "Roboto";
$colorAuthor: #4e4e4e;
$colorDate: #a2a2a2;

body {
    margin: 0;
    padding: 0;
    background-color: $colorBody;
    font-family: $fontRoboto;
}

header {
    background-color: $colorBackHeader;
    color: $colorFontHeader;
    font-size: 20px;
    width: 100%;
    font-weight: 400;

    .header-container {
        height: 50px;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;

        .title {
            font-weight: 700;
        }

        .profile {
            font-size: 14px;
        }
    }
}

#wrapper {
    #wrapper-post {
        div {
            &.post {
                width: 90%;
                max-width: 600px;
                margin: auto;
                background-color: #fff;
                margin: 30px auto 30px auto;
                box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 12px -5px;
                border-radius: 5px;
                transition: all 0.25s ease-in-out;
                transform: scale(1);

                &:hover {
                    transform: scale(1.005);
                }

                .post-header {
                    width: 90%;
                    margin: auto;
                    padding: 15px 0px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: stretch;
                    align-items: center;

                    div {
                        &.avatar {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            background-color: transparent;
                            overflow: hidden;

                            img {
                                width: 100%;
                                border: none;
                            }
                        }

                        &.author {
                            margin-left: 15px;

                            h4 {
                                margin: 0;
                                color: $colorAuthor;
                                font-weight: 600;
                                font-size: 14px;
                                text-overflow: clip;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            h6 {
                                margin: 0;
                                margin-top: 5px;
                                font-weight: 300;
                                color: $colorDate;
                                font-size: 11px;
                            }
                        }
                    }
                }

                .text-post {
                    width: 90%;
                    margin: auto;
                    padding: 15px 0px;
                    box-sizing: border-box;
                    font-size: 14px;
                }

                .comments {
                    border-top: 1px solid #e7e7e7;
                    padding: 15px 10px;
                    width: 90%;
                    margin: auto;

                    .comment {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-top: 10px;

                        &:first-child {
                            margin-top: 0;
                        }

                        .avatar {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            overflow: hidden;
                            min-width: 20px;

                            img {
                                width: 100%;
                            }
                        }

                        .text {
                            font-size: 13px;
                            border-radius: 20px;
                            background-color: #e0e0e0;
                            padding: 10px 15px;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
